body {
    font-family: Arial, sans-serif;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}




.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 10px;
    color: #2867b2;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

.titulo{
    text-align: center;
    
    font-size: 70px;
    color: rgb(2, 90, 206);
    font-family: monospace;
    color: linear-gradient(0deg, rgba(41,176,227,1) 38%, rgba(29,120,135,1) 100%);
}



.skillsContent{
border-radius: 2px ;
background-color: #000000b5 ;
}

.educationContent{

background-color:rgba(0, 0, 0, 0.245)  ;

}

.workContent{
    background-color: #000000b5  ;
}

.projectsContent{

    background-color: rgba(0, 0, 0, 0.245)   ;
}

.socialLinkContent{

    background-color:   #000000b5;
}