/* GetProjects.css */

.containergets {
  padding: 20px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.Itemget {
  background: #1f7ccdc8;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 8px;
  padding: 15px;
  width: 25%;
}

.inputget {
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 16px);
  box-sizing: border-box;
}

.letraget {
  color: black;
  margin: 5px 0;
}

.buttonget,
.buttonEditget,
.buttonEliminarget {
  margin: 5px 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ddd;
  transition: background 0.3s ease;
}

.buttonget {
  background: #c37700;
  color: #fff;
}

.buttonEliminarget {
  background: #b90000;
  color: #fff;
}

@media (max-width: 500px) {
  .Itemget {
    
    width: 100%;
  }
}

.buttonEditget {
  background: #559927;
  color: #fff;
}

.containergetskill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #04040482;
}
