#HomeNavbar {
    top: 0;
    width: 100%;
    transition: width 0.3s ease;
    background-color: #e3e4e5;
}

.emoji-link {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.emoji-link span {
    font-size: 24px;

    margin-bottom: 5px;
}

@media (max-width: 690px) {
    .content{
        width: 120%;
    }
}

@media (max-width: 575px) {
    .content{
        width: 150%;
    }
}