Form {
    width: 500px;
    height: 500px;

}

#buttonsLoginContainer{
    display: grid;
    place-items: center;
    margin-top: 15%;
}

.PrincipalTitle {
    background-color: rgb(255, 185, 105);
    border-radius: 10px;
    color: black;

}


#PrincipalButton{
    background-color: rgb(255, 209, 157);
    color: rgb(0, 0, 0);
    border-color: black;

}

#PrincipalText{

    color: black;
}