
.bg-body-secondary {
    background-color: #f5f5f5;
    padding: 30px;
}


.job-item {
    width: 45%;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.job-item h4 {
    margin-bottom: 15px;
    color: #1a1a1a;
    font-size: 1.5rem;
}


.job-item p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.4;
}


.job-item:hover {
    transform: scale(1.02);
}


.job-list {
    list-style: none;
    padding: 0;
}


.job-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.vacancies{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
