
.vacancyContainer {
    background-color: #0000008d;
    padding: 30px;
}


.job-itemVacancy {
    width: 45%;
    background-color: #2f4175;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.job-itemVacancy h4 {
    margin-bottom: 15px;
    color: #fdfdfd;
    font-size: 1.5rem;
}

.job-itemVacancy h5 {
    margin-bottom: 15px;
    color: #fdfdfd;
    font-size: 1.5rem;
}



.job-itemVacancy p {
    color: #d3d3d3;
    font-size: 1.1rem;
    line-height: 1.4;
}


.job-itemVacancy:hover {
    transform: scale(1.02);
}


.job-list {
    list-style: none;
    padding: 0;
}


.job-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.vacancies{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

