body {
    background-image: url("/public/image/24.jpg");
    background-attachment: fixed;
    background-size: cover;
}


#buttonsLoginContainer {
    display: grid;
    place-items: center;
    margin-top: 5%;
}




.PrincipalTitle {
    background-color: #e3e4e5;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(255, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 5px 2px 10px;
}


#PrincipalBoton {
    background-color: #e3e4e5;
    color: rgb(0, 0, 0);
    border-color: black;
    width: 250px;
    height: 150px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#PrincipalButton:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    background-color: rgba(250, 178, 97, 0.608);
    transform: scale(1.06);
    transition: 0.1s;
}

#PrincipalText {
    color: #e3e4e5;
}

#PrincipalButtonLogin {
    background-color: rgba(12, 72, 236, 0.608);
    color: rgb(0, 0, 0);
    border-color: black;

}

#PrincipalButtonLogin:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    background-color: rgba(243, 141, 25, 0.608);
    transform: scale(1.06);
    transition: 0.5s;
}


/* -------------------FORM-SING-UP------------------------------------ */
.formContainer {
    width: 600px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #1a1a1abc;
    color: #fff;
    border: 1px solid #333;
}

.title {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #1f7ccd;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #1f7ccd;
}


@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/* ---------------------BUTTON-SIGN-UP----------------------------------------------- */

.buttonForm {
    --orange: #00708b;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--white);
    background: linear-gradient(to right, rgba(253, 114, 27, 0.1) 1%, transparent 40%, transparent 60%, rgba(64, 0, 124, 0.1) 100%);
    color: var(--white);
    box-shadow: inset 0 0 10px rgba(136, 27, 253, 0.68), 0 0 9px 3px rgba(0, 0, 0, 0.68);
    margin: 10px;
}


.buttonForm:hover {
    color: #26006c;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgba(147, 53, 255, 0.2);
}

.buttonForm:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 204, 253, 0.1) 40%, rgba(253, 174, 27, 0.1) 60%, transparent 100%);
}

.buttonForm:hover:before {
    transform: translateX(15em);
}


/* ------------------------------INPUT-FORM-------------------------------------------- */
.inputPhonenumber::-webkit-outer-spin-button,
.inputPhonenumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* //////////////////////////////// */

/* WelcomeComponent.css */
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(57, 56, 123);
    /* Puedes ajustar el color de fondo según tus preferencias */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.welcome-container h1 {
    color: rgba(254, 0, 114, 0.936);
    font-family:Arial, Helvetica, sans-serif;
}

.welcome-container.show {
    opacity: 1;
    visibility: visible;
}